@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ff6d60;
  --secondary-color: #98d8aa;
  --bg-color: #fff8dc;
}

* {
  font-family: "Kanit", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.main {
  position: relative;
  top: 0;
  left: 5svw;
  transition: all;
  transition-duration: 500ms;
  min-height: 100svh;
}

.page {
  padding-top: 6rem;
  min-height: 100vh;
  background-color: var(--bg-color);
}

.home-page-bg {
  background-image: url(./Assets/background-3.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  background-attachment: fixed;
}

.upload-page-bg {
  background-image: url(./Assets/circle-bg.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  background-attachment: fixed;
}

.important-page-bg {
  background-image: url(./Assets/important-bg.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  background-attachment: fixed;
}

.side-navbar {
  height: 100%;
  width: 5svw;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color);
  transition: all;
  transition-duration: 500ms;
}

.side-navbar:hover {
  width: 15svw;
}

.side-navbar:hover + .main {
  left: 15svw;
  /* opacity: 0.3; */
}

.side-navbar:hover .nav-link-text {
  left: 0;
}

.side-navbar .icon-container {
  flex-shrink: 0;
  height: 3.5rem;
  width: 5vw;
}

.nav-link {
  text-transform: uppercase;
  cursor: pointer;
}

.nav-link.active .nav-link-text {
  font-weight: bolder;
  color: var(--secondary-color);
}

.icon {
  color: white;
  font-size: larger;
}

.nav-link:hover > .icon-container,
.card:hover > .icon-container {
  animation: icon-hop 600ms;
}

.icon-hop:hover {
  animation: icon-hop 600ms;
}

.nav-link-text {
  position: relative;
  transition: all;
  transition-duration: 500ms;
  left: 100%;
  color: white;
}

@keyframes icon-hop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.card:hover > .cover {
  opacity: 0.3;
}
.card:hover > .card-title {
  opacity: 1;
}

.login input,
.signup input {
  padding: 12px 0px;
  width: 350px;
  border-radius: 10px;
  text-align: center;
}

input:focus {
  outline: 2px solid var(--secondary-color);
}

.login {
  transition: all;
  transition-duration: 1s;
}

.login [data-side="even"] > :last-child {
  transform: translateX(100vw);
}

.signup-animate [data-side="even"] > :first-child {
  animation: center-to-left 1s both;
}
.signup-animate [data-side="even"] > :last-child {
  animation: right-to-center 1s both;
}
.login-animate [data-side="even"] > :first-child {
  animation: left-to-center 1s both;
}
.login-animate [data-side="even"] > :last-child {
  animation: center-to-right 1s both;
}

.signup-animate [data-side="odd"] > :first-child {
  animation: center-to-right 1s both;
}
.signup-animate [data-side="odd"] > :last-child {
  animation: left-to-center 1s both;
}
.login-animate [data-side="odd"] > :first-child {
  animation: right-to-center 1s both;
}
.login-animate [data-side="odd"] > :last-child {
  animation: center-to-left 1s both;
}

@keyframes center-to-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100vw);
  }
}

@keyframes center-to-right {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100vw);
  }
}

@keyframes left-to-center {
  from {
    opacity: 0;
    transform: translateX(-100vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes right-to-center {
  from {
    opacity: 0;
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.upload-page label {
  font-size: larger;
}

.upload-page .required::after {
  content: " *";
  color: red;
  font-weight: bold;
}
